

/*texto en la imagen*/

 h1{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
padding: 120px;

 }


/*Imagen*/

.header-wraper{
  position: relative;
  background: url(BannerPortfolio.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}




.main-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed", sans-serif;
}

.main-info h1{
  color: var(--primary-orange);
  text-transform: uppercase;
}

/* sobre mi */

.text-light {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
}

.text-end {
  text-align: right!important;
}

p {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.7em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}