/*Imagen*/

.header-wraper{
  position: relative;
  background: url(pexels-cottonbro-studio-4064846.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed", sans-serif;
}

.main-info h1{
  color: var(--primary-orange);
  text-transform: uppercase;
}